    
    .main_section {
        display: flex;
        flex-direction: column;
    }

    .hero-booking-details {
        display: flex;
        justify-content: center;
        padding: 20px;
        margin: 2%;
    }

    .hotel-hero-section {
        flex: 3;
        max-width: 900px;
        display: flex;
        justify-content: center;
        padding: 2%;
        border: 2px solid black;
    }
    

    .hotel-hero-section__image {
        max-height: 350px;
    }
    
    .booking-details {
        flex: 1;
        width: 300px;
        display: flex;
        justify-content: center;
        border-width: 2px 2px 2px 0;
        border-color: black;
        border-style: solid;
    }
    
    .booking-details__form {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        padding: 0 40px;
    }

    
    .form-input input {
        width: 60%;
    }
    
    .form-input {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    
    .form-input input {
        width: 60%;
    }
    
    .form-submit {
        justify-content: center;
    }
    
    .form-submit input {
        padding: 10px;
        width: initial;
        cursor: pointer;
    }
    
    .font-cursive {
        font-family: cursive, sans-serif;
    }

    .hotel-details {
        margin: 1% 4% 2%;
    }
    

    .checked {
        color: orange;
    }
    .carousel {
        max-width: 450px;
    }
 
    @media only screen and (max-width: 576px) {
        .hero-booking-details {
            /* flex-wrap: wrap; */
            flex-direction: column;
            justify-content: center;
        }

        .booking-details {
            border-top: 0;
            border-left: 2px solid black;
            height: 300px;
            width: 100%;
        }

        .hotel-hero-section__image {
            height: 250px;
            width: 250px;
        }
        .carousel {
            width: 250px;
        }

     }

