/* General styling

* {
    margin: 0;
    padding: 0;
} */

body {
    background-color: #e0e0e0;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
}

a,
a:hover,
a:link,
a:visited {
    text-decoration: none;
    color: black;
    outline: none;
}


/* styling header and footer */

.header,
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rosybrown;
    height: 60px;
    z-index: 10;
}

.header {
    position: sticky;
    top: 0;
}

.footer {
    bottom: 0;
    width: 100%;
    position: fixed;
}

.header__logo {
    width: 60px;
    height: 60px;
    margin: 0 2%;
}

.header__login {
    margin: 0 2%;
}

.social-media-section__image {
    height: 20px;
    width: 22px;
}

.footer__contact-us {
    margin: 0 2%;
    order: 1;
}

.footer__social-media-section {
    margin: 0 2%;
    order: 3;
}

.footer__copyright {
    font-size: 10px;
    order: 2;
}

.login__input {
    display: flex;
    justify-content: space-evenly;
    margin: 15px 0;
}


/* styling main content */

.content {
    display: flex;
    flex-direction: column;
}

.city-search-section {
    height: 380px;
    background-image: url("https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.city-search-section__input {
    font-family: inherit;
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
    border-radius: 12px;
    max-width: 100%;
    width: 450px;
    margin: 0 10%;
}

.cities-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 35px;
}

.cities-section__links {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cities-section__card {
    position: relative;
    margin: 20px;
}

.cities-section__city-name {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f1f1f1;
}

.cities-section__card:hover .cities-section__city-name {
    visibility: visible;
}

.cities-section__card:hover .cities-section__image {
    opacity: 0.5;
}

.cities-section__image {
    width: 150px;
    height: 150px;
    box-shadow: 10px 10px 10px grey;
    border-radius: 25%;
}

.cities-section__view-more {
    margin: 30px;
}



@media only screen and (max-width: 768px) {
    .cities-section__card {
        margin: 20px 50px;
    }
}