

/* styling main content */

.main-content {
    display: flex;
    flex-direction: column;
}

ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

li {
    font-weight: bold;
    padding: 20px;
}

.hotel-list-view {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}


.hotel-map-view {
    display: flex;
    justify-content: center;
    width: 100%;
}

.hotel-list-view__image {
    height: 200px;
    width: 250px;
}

.hotel-list-view__card {
    display: flex;
    margin: 2%;
    background-color: lightgrey;
    flex: 0 1 40%;
}

.hotel-list-view__card:hover {
    background-color: rosybrown;
}

.hotel-list-view__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15px;
}

.hotel-list-view__details> :first-child {
    font-size: 20px;
    font-weight: bold;
}

#pills-tab {
    justify-content: center;
}

.checked {
    color: orange;
}

@media only screen and (max-width: 768px) {
    .hotel-list-view {
        justify-content: center;
    }
    .hotel-list-view__card {
        margin: 2%;
        flex: 0 0 90%;
    }
    .hotel-map-view img{
        width: 90%;
    }
}

@media only screen and (max-width: 576px) {
    .hotel-list-view {
        justify-content: center;
    }
    .hotel-list-view__card {
        padding: 0 0 5% 0;
        flex: 0 0 90%;
        flex-direction: column;
    }

    .hotel-list-view__image {
        width: 100%;
    }

    .hotel-map-view img{
        width: 90%;
    }
    .main-container {
        margin-bottom: 100px;
    }
}

