/* General styling

* {
    margin: 0;
    padding: 0;
} */

body {
    background-color: #e0e0e0;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
}

a,
a:hover,
a:link,
a:visited {
    text-decoration: none;
    color: black;
    outline: none;
}


/* styling header and footer */

.header,
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rosybrown;
    height: 60px;
    z-index: 10;
}

.header {
    position: sticky;
    top: 0;
}

.footer {
    bottom: 0;
    width: 100%;
    position: fixed;
}

.header__logo {
    width: 60px;
    height: 60px;
    margin: 0 2%;
}

.header__login {
    margin: 0 2%;
}

.social-media-section__image {
    height: 20px;
    width: 22px;
}

.footer__contact-us {
    margin: 0 2%;
    order: 1;
}

.footer__social-media-section {
    margin: 0 2%;
    order: 3;
}

.footer__copyright {
    font-size: 10px;
    order: 2;
}

.login__input {
    display: flex;
    justify-content: space-evenly;
    margin: 15px 0;
}


/* styling main content */

.main-content {
    display: flex;
    flex-direction: column;
}

ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

li {
    font-weight: bold;
    padding: 20px;
}

.hotel-list-view {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.hotel-map-view {
    /* display: none; */
}

.hotel-list-view__image {
    height: 200px;
    width: 250px;
}

.hotel-list-view__card {
    display: flex;
    margin: 2%;
    background-color: lightgrey;
    width: 40%;
}

.hotel-list-view__card:hover {
    background-color: rosybrown;
}

.hotel-list-view__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15px;
}

.hotel-list-view__details> :first-child {
    font-size: 20px;
    font-weight: bold;
}

#pills-tab {
    justify-content: center;
}


/* to solve 0 height problem after floatleft */