

/* styling main content */

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hotel-card__image {
    max-height: 300px;
    max-width: 270px;
}

.hotel-card {
    display: flex;
    margin: 2%;
    background-color: rgb(132, 136, 139);
    width: 60%;
}

.hotel-card__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15px;
}

.hotel-card__details> :first-child {
    font-size: 20px;
    font-weight: bold;
}

.hotel__details {
    background-color: rgb(132, 136, 139);
    width: 50%;
    height: 20%;
    margin: 2% auto;
}

.customer-payment-card {
    display: flex;
    width: 98%;
    height: 200px;
    background-color: rosybrown;
    border: 1px solid black;
    border-radius: 5px;
    justify-content: space-around;
}

.customer-payment-card__details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.customer-payment-card__payment-details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.customer-payment-card__pay-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.font-cursive {
    font-family: cursive, sans-serif;
}

@media only screen and (max-width: 768px) {
    .hotel-card {
        width: 80%;
    }
 }

 @media only screen and (max-width: 576px) {
    .hotel-card {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .hotel-card__details {
        align-items: center;
    }

    .customer-payment-card {
        flex-direction: column;
        min-height: 300px;
        margin-bottom: 100px;
    }
 }